.cartContainer {
  display: flex;
  align-items: center;
  > *:nth-child(1) {
    margin-right: 10px;
  }

  > *:nth-child(2) {
    margin-right: 20px;
  }
  .quantity {
    & .MuiInputBase-root {
      height: 36px;
      width: 50px;
    }
    & input {
      padding: 8px 12px;
    }
  }
}
